body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #c8e6db;
}
nav {
background-color: #0a346b;
padding: 15px;
text-align: center;
}
nav a {
color: white;
text-decoration: none;
margin: 0 15px;
}
nav a:hover {
color: rgb(18, 175, 128);
}
p {
text-align: center;
font-size: 18px;
color: rgb(46, 92, 92);
}
.gallery {
text-align: center;
margin: 20px;
}
.gallery img {
margin: 10px;
border-radius: 8px;
box-shadow: 10px 10px #084725;
}
.gallery img:hover {
transform: scale(1.08);
}

